.advantages {
  padding-top: rem(306);
  margin-bottom: rem(46);
  h2 {
    text-align: center;
    margin-bottom: rem(64);
  }
}

@media (min-width: 1700px) {
  .advantages {
    padding-top: rem(400);
  }
}

@media (min-width: 2000px) {
  .advantages {
    padding-top: rem(480);
  }
}

@media (max-width: 1080px) {
  .advantages {
    padding-top: rem(400);
  }
}

@media (max-width: 868px) {
  .advantages {
    padding-top: rem(350);
  }
}

@media (max-width: 768px) {
  .advantages {
    padding-top: rem(300);
  }
}
