.advantages {
  padding-top: rem(306);
  margin-bottom: rem(46);
  h2 {
    text-align: center;
    margin-bottom: rem(64);
  }
}

.advantages__slider {
  // height: rem(286);
  // max-width: rem(1088);
  // margin: 0 auto;
  // width: 100%;
  // background: gray;
}
