.attention {
  background: #000;
  padding: rem(28) 0;
  h2 {
    text-align: center;
    margin-bottom: rem(24);
    color: #fff;
  }
}

.attention__icon {
  margin-bottom: rem(28);
  display: flex;
  justify-content: center;
}

.attention__text {
  font-size: rem(18);
  max-width: rem(280);
  margin: 0 auto rem(52);
  color: #fff;
  display: block;
  text-align: center;
  .yellow {
    color: $yellow;
    font-weight: 600;
  }
}
