.descr-block {
  background: $blue;
  margin-top: rem(-80);
  padding: {
    top: rem(356);
    bottom: rem(126);
  }
  color: #fff;
  h2 {
    margin-bottom: rem(44);
  }
}

.descr-block__container {
  display: flex;
}

.descr-block__descr {
  padding: {
    top: rem(15);
    left: rem(50);
  }
  margin-right: rem(32);
}

.descr-block__img-container {
  max-width: rem(448);
  min-width: rem(448);
}

.descr-block__img {
  &:first-child {
    margin-bottom: rem(24);
  }
  &_medium {
    max-width: rem(224);
    margin-right: rem(18);
  }
  &_small {
    max-width: rem(200);
  }
}

.descr-block__img_small,
.descr-block__img_medium {
  display: inline-block;
}

@media (min-width: 1500px) {
  .descr-block {
    padding-top: rem(450);
  }
}

@media (min-width: 1600px) {
  .descr-block {
    margin-top: rem(-120);
  }
}

@media (min-width: 1800px) {
  .descr-block {
    margin-top: rem(-130);
  }
}

@media (max-width: 1420px) {
  .descr-block {
    margin-top: rem(-120);
  }
}

@media (max-width: 1180px) {
  .descr-block {
    margin-top: rem(-130);
  }
}

@media (max-width: 768px) {
  .descr-block__img-container {
    min-width: 15rem;
  }
  .descr-block__img {
    &_small {
      display: none;
    }
    &_medium {
      max-width: 100%;
    }
  }
}
