.first-slide {
  position: relative;
  h1 {
    margin-bottom: rem(25);
  }
  h2 {
    margin-bottom: rem(24);
    text-align: center;
  }
}

.first-slide__container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: rem(70);
  position: relative;
  z-index: 5;
}

.first-slide__col {
  &:first-child {
    margin-right: rem(21);
  }
}

.first-slide__img {
  width: rem(444);
  position: relative;
  left: rem(-59);
  top: rem(18);
  margin-bottom: rem(38);
}

.first-slide__descr {
  font-size: rem(23);
  line-height: 1.34;
  font-weight: 600;
  margin-bottom: rem(46);
}

.first-slide__list {
  display: flex;
  flex-wrap: wrap;
  margin: {
    right: rem(-16);
    bottom: rem(28);
  }
}

.first-slide__list-item {
  width: 47%;
  margin: {
    right: rem(19);
    bottom: rem(23);
  }
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: rem(80);
  &:after {
    content: '';
    background: url('../img/okay.svg') no-repeat;
    background-size: contain;
    width: rem(48);
    height: rem(48);
    position: absolute;
    left: 0;
  }
}

.first-slide__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    font-weight: 300;
  }
}

.first-slide__clock {
  margin-bottom: rem(26)
}

.first-slide__btn-container {
  display: flex;
  justify-content: center;
}

.first-slide__btn {
  position: relative;
  z-index: 4;
}

.first-slide__wave {
  background: url('../img/wave.svg') no-repeat;
  background-position-x: -31px;
  background-position-y: -7px;
  background-size: 105%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 61%;
}

@media (min-width: 1600px) {
  .first-slide__wave {
    top: 55%;
  }
}

@media (min-width: 1800px) {
  .first-slide__wave {
    top: 47%;
  }
}

@media (min-width: 2000px) {
  .first-slide__wave {
    top: 50%;
  }
}

@media (max-width: 1420px) {
  .first-slide__wave {
    top: 65%;
  }
}

@media (max-width: 1180px) {
  .first-slide__wave {
    top: 78%;
  }
}

@media (max-width: 1080px) {
  .first-slide__wave {
    top: 66%;
  }
}

@media (max-width: 868px) {
  .first-slide__wave {
    top: 80%;
  }
}
