.form {
  max-width: rem(416);
}

.form__input {
  color: $input-color;
  background: #fff;
  -webkit-appearance: none;
  width: 100%;
  border: none;
  box-shadow: none;
  border-radius: rem(3);
  margin-bottom: rem(25);
  height: rem(56);
  text-align: center;
  font-size: rem(16);
  padding: {
    top: rem(15);
    bottom: rem(15);
  }
  @include input-placeholder {
    color: $input-color;
    font-size: rem(16);
  }
}

input:-webkit-autofill {
  animation-name: autofill;
  animation-fill-mode: both;
}

.form__btn {
  width: 100%;
}
