.header {
  background: $header-bg;
  font-size: rem(16);
  padding: rem(16) 0;
  .container {
    padding: 0 rem(68);
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  margin-right: rem(19);
}

.header__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
