.header {
  background: $header-bg;
  font-size: rem(16);
  padding: rem(16) 0;
  margin-bottom: rem(64);
  .container {
    padding: 0 rem(68);
  }
}

.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__icon {
  margin-right: rem(19);
}

.header__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    .container {
      padding: 0 rem(20);
    }
  }
  .header__item {
    &:nth-child(3) {
      display: none;
    }
  }
}

@media (max-width: 540px) {
  .header {
    margin-bottom: rem(32);
  }
}
