.make-order {
  background: linear-gradient(to bottom, #000 50%, $blue 50%);
  padding-bottom: rem(72);
  h2 {
    margin-bottom: rem(24);
    text-align: center;
  }
}

.make-order__content {
  display: flex;
  align-items: flex-start;
  position: relative;
  background: #fff;
  width: 100%;
  max-width: rem(1088);
  margin: 0 auto;
  padding: rem(40) rem(32) rem(32) rem(48);
  box-shadow: 0px rem(4 4) rgba(0, 0, 0, 0.25);
  border-radius: rem(3);
}

.make-order__img {
  max-width: rem(406);
  min-width: rem(300);
  position: relative;
  left: rem(-100);
}

.make-order__caption {
  font-family: $caption-font;
  font-size: rem(47);
  max-width: rem(236);
  margin-top: rem(-13);
  line-height: 1.3;
  .large {
    font-size: rem(56);
  }
}

.make-order__descr {
  margin-left: rem(-50);
}

.make-order__time {
  margin-bottom: rem(23);
  h2 {
    font-weight: 300;
  }
}

.make-order__clock {
  margin-bottom: rem(26)
}

.make-order__price {
  margin-bottom: rem(28);
  &.price {
    margin-left: 0;
  }
}

.make-order__btn-container {
  .btn {
    width: 100%;
  }
}

.make-order__badge {
  color: #fff;
  font-size: rem(32);
  line-height: 1.37;
  font-weight: 600;
  position: absolute;
  bottom: rem(32);
  left: rem(-29);
  z-index: 3;
  span {
    max-width: rem(190);
    text-align: right;
    position: absolute;
    bottom: rem(18);
    right: rem(45);
  }
}

.make-order__icon {
  max-width: rem(288);
  svg {
    max-width: 100%;
  }
}

@media (min-width: 2000px) {
  .make-order__badge {
    left: rem(-27);
    span {
      bottom: rem(20);
      right: rem(30);
    }
  }
}

@media (max-width: 992px) {
  .make-order__content {
    justify-content: space-between;
  }
  .make-order__img {
    left: rem(-10);
  }
  .make-order__caption {
    display: none;
    font-size: 2rem;
    .large {
      font-size: 2.5rem;
    }
  }
}

@media (max-width: 768px) {
  .make-order__img {
    left: rem(-50);
  }
}

@media (max-width: 540px) {
  .make-order {
    padding-bottom: 0;
    .container {
      padding: 0;
    }
  }
  .make-order__content {
    padding: rem(20);
    box-shadow: none;
    border-radius: 0;
  }
  .make-order__img {
    left: rem(-100);
  }
  .make-order__badge {
    display: none;
  }
  .make-order__time {
    h2 {
      font-size: rem(18);
    }
  }
  .make-order__descr {
    margin-left: -3.5rem;
  }
}

@media (max-width: 450px) {
  .make-order__img {
    top: rem(10);
  }
}
