.make-order {
  background: linear-gradient(to bottom, #000 50%, $blue 50%);
  h2 {
    margin-bottom: rem(24);
    text-align: center;
  }
}

.make-order__content {
  display: flex;
  background: #fff;
  width: 100%;
  padding: rem(40) rem(32) rem(32);
  box-shadow: 0px rem(4 4) rgba(0, 0, 0, 0.25);
  border-radius: rem(3);
}

.make-order__img {
  max-width: rem(412);
}

.make-order__caption {
  font-family: $caption-font;
  font-size: rem(48);
  max-width: rem(236);
}
