.price {
  margin-left: rem(84);
  line-height: 1.37;
}

.price__row {
  &:last-child {
    position: relative;
    color: #a0a0a0;
    font-weight: 300;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      height: 1px;
      max-width: rem(230);
      width: 100%;
      background: #a0a0a0;
      top: rem(18);
    }
  }
}

.price__new {
  font-size: rem(32);
}

.price__value-new {
  color: $rose;
  font-weight: 600;
  font-size: rem(32);
}

.price__old,
.price__value-old {
  color: #a0a0a0;
  font-size: rem(24);
}

@media (max-width: 768px) {
  .price {
    margin-left: rem(30);
  }
}

@media (max-width: 680px) {
  .price__new,
  .price__value-new {
    font-size: rem(24);
  }
  .price__old,
  .price__value-old {
    font-size: rem(18);
  }
  .price__row {
    &:last-child {
      &:after {
        max-width: rem(175);
        top: rem(16);
      }
    }
  }
}
