.quote {
  background: #F2F2F2;
  font-size: rem(32);
  line-height: 1.4;
  padding: rem(44) 0 rem(42);
  font-style: italic;
  .green {
    color: #27AE60;
  }
}

.quote__text {
  padding: 0 rem(266);
  position: relative;
}


.quote__icon {
  position: absolute;
  &_left {
    left: rem(121);
    top: rem(-12);
  }
  &_right {
    right: rem(120);
    bottom: rem(-9);
  }
}


@media (max-width: 992px) {
  .quote__text {
    text-align: center;
    padding: {
      left: rem(180);
      right: rem(180);
    }
  }
  .quote__icon {
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
}

@media (max-width: 768px) {
  .quote {
    font-size: rem(26);
  }
}
