.steps {
  background: $blue;
  padding-bottom: rem(50);
  position: relative;
  h2 {
    color: #fff;
    margin-bottom: rem(70);
    text-align: center;
  }
}

.steps__container {
  max-width: rem(838);
  margin: 0 auto;
  position: relative;
  z-index: 3;
}

.steps__step {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  &:not(:last-child) {
    margin-bottom: rem(48);
  }
  &_reverse {
    flex-direction: row-reverse;
    .steps__img {
      margin-right: 0;
    }
    .steps__text {
      margin-right: rem(48);
      text-align: right;
    }
  }
}

.steps__img {
  max-width: rem(304);
  min-width: rem(304);
  margin-right: rem(48);
}

.steps__line {
  min-width: rem(128);
  height: 1px;
  background: #fff;
  display: block;
  margin-right: rem(48);
}

.steps__text {
  align-self: flex-start;
  margin-top: rem(115);
}

.steps__number {
  display: block;
  font-family: $caption-font;
  font-size: rem(48);
  margin-bottom: rem(22);
}

.steps__descr {
  font-size: rem(24);
  font-weight: 600;
  line-height: 1.4;
}

.steps__wave {
  background: url('../img/blue-wave.svg') no-repeat;
  background-size: 102%;
  background-position-x: -13px;
  height: rem(600);
  width: 100%;
  position: absolute;
  bottom: rem(-320);
  z-index: -1;
}

@media (min-width: 1700px) {
  .steps__wave {
    height: rem(650);
  }
}

@media (min-width: 1800px) {
  .steps__wave {
    height: rem(750);
    bottom: rem(-370);
  }
}

@media (min-width: 2000px) {
  .steps__wave {
    bottom: rem(-430);
  }
}

@media (max-width: 1330px) {
  .steps__wave {
    bottom: rem(-350);
  }
}

@media (max-width: 1180px) {
  .steps__wave {
    bottom: rem(-400);
    background-size: 115%;
  }
}

@media (max-width: 768px) {
  .steps__wave {
    bottom: rem(-450);
  }
}

@media (max-width: 540px) {
  .steps {
    padding-top: rem(32);
    h2 {
      margin-bottom: rem(24);
    }
  }
  .steps__descr {
    font-size: rem(18);
  }
  .steps__step {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &_reverse {
      flex-direction: column;
      .steps__text {
        margin: 0;
        text-align: center;
      }
    }
  }
  .steps__img {
    max-width: rem(117);
    min-width: rem(117, 15);
    margin-right: 0;
    margin-bottom: rem(32);
  }
  .steps__line {
    display: none;
  }
  .steps__text {
    margin-top: 0;
    align-self: inherit;
    text-align: center;
    max-width: rem(250, 15);
  }
  .steps__wave {
    bottom: rem(-500);
  }
}
