@import 'variables';
@import 'util';
@import 'mixins';

html {
	height: 100%;
	font: 300 #{20px}/#{1.47} $main-font;
}

body,
html {
	height: 100%;
	background: #fff;
	-webkit-font-smoothing: antialiased;
}

body {
	display: block;
	min-height: 100%;
	min-width: 375px;
	margin: 0;
	font: inherit;
	font-size: 100%;
	color: $main-font-color;
	background: #fff;
	-webkit-text-size-adjust: none;
}

* {
	box-sizing: border-box;
}

*:focus,
*:active {
	outline: none;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 250ms;
}

.container {
	max-width: rem(1164);
	padding: 0 rem(20);
	margin: 0 auto;
}

h1 {
	font-family: $caption-font;
	font-size: rem(48);
	margin: 0;
	font-weight: 300;
	line-height: 1.25;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: rem(18);
	line-height: 1.4;
}

h2 {
	font-size: rem(32);
	line-height: 1.3;
	margin: 0;
	font-weight: 600;
}

p {
	font-family: $main-font;
	font-size: rem(18);
	line-height: 1.4;
	text-align: left;
	margin: 0;
	&:not(:last-child) {
		margin: 0 0 rem(24);
	}
}

img {
	display: block;
	max-width: 100%;
}

@media (max-width: 768px) {
	h1 {
		font-size: rem(40);
	}
	h2 {
		font-size: rem(28);
	}
}

@media (max-width: 540px) {
  h1 {
    font-size: rem(24);
  }
	h2 {
		font-size: rem(24);
	}
}

@media (max-width: 1080px) {
	html {
		font-size: 15px;
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 20px;
	}
}

@media (min-width: 2000px) {
	html {
		font-size: 24px;
	}
}

@import "components/header";
@import "components/first-slide";
@import "components/clock";
@import "components/price";
@import "components/btn";
@import "components/descr-block";
@import "components/quote";
@import "components/set";
@import "components/attention";
@import "components/make-order";
@import "components/steps";
@import "components/advantages";
@import "components/advantages-slider";
@import "components/expert";
@import "components/customers";
@import "components/customers-slider";
@import "components/buy-now";
@import "components/form";
@import "components/footer";
